# Copy this file to .env and fill the values for your local environment
# MySQL settings (XAMPP default)
DB_NAME=stars_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Other useful envs
# DB_ENGINE=mysql  # not used currently because settings defaults to mysql
# DJANGO_SECRET_KEY=
# DEBUG=True
