Django==4.2
psycopg2-binary>=2.9
dj-database-url>=1.0
python-dotenv>=1.0
Pillow>=9.4.0
gunicorn>=21.0.0
whitenoise>=6.0.0
mysqlclient>=2.1.1


# python manage.py makemigrations
# python manage.py migrate
# python manage.py createsuperuser
# python manage.py runserver