<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}StARS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'base/navbar.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'includes/navbar.html' %}

    <main class="main-content">
      {% include 'includes/messages.html' %} {% block content %} {% endblock %}
    </main>

    {% comment %} {% include 'includes/footer.html' %} {% block extra_js %}{%
    endblock %} {% endcomment %}
  </body>
</html>
